
.custom-slick-logos img{
   padding: 20px;
   width: 100%;
   height: auto;
   border: 1px solid #607786;
   border-radius: 10px;
   margin: 20px;
   box-sizing: border-box;

   

}

.custom-slick-logos{
    width: 100%;
    border: 2px solid transparent;
    margin: 20px;
}

/* FAQ  */
.card-header{
    padding: 0;
}
.card{
    padding: 10px;
}
.card-header{
    border: 1px solid rgba(0,0,0,.125);
}
.card-header .btn-link:hover{
    text-decoration: none;
}
.card-header .btn-link{
    color: #607786;
}

/* Get Started  */
.outline-button:hover, .outline-button:focus{
    color: var(--black-color) !important;
  
}

.offers .items .item{
    margin-top: 30px;}
/* footer */
