/* font import */
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;400;600;700;800;900&display=swap');

/* font-family: 'Nunito Sans', sans-serif; */

body {
  font-family: 'Nunito Sans', sans-serif !important;

}

/* primary-color- #5c7484
secondary color- #5cc5e3 */

/* Common css */
.text-primary {
  color: #5cc5e3 !important;
}

.btn-primary {
  background-color: #5cc5e3;
  border-color: #5cc5e3;
}

.btn-primary:hover {
  background-color: #5c7484;
  border-color: #5c7484;

}

.btn-primary:not(:disabled):not(.disabled).active,
.btn-primary:not(:disabled):not(.disabled):active,
.show>.btn-primary.dropdown-toggle {
  background-color: #5cc5e3;
  border-color: #5cc5e3;
}

.btn-primary.focus,
.btn-primary:focus {
  background-color: #5cc5e3;
  border-color: #5cc5e3;
  /* box-shadow: none; */
}

.btn-primary:not(:disabled):not(.disabled).active:focus,
.btn-primary:not(:disabled):not(.disabled):active:focus,
.show>.btn-primary.dropdown-toggle:focus {
  /* box-shadow: 0 0 0 0.15rem #5c7484; */
  background-color: #5c7484;
  box-shadow: none;
}

/* pagination btn css */
.page-item.active .page-link {
  background-color: #5cc5e3;
  border-color: #5cc5e3;
}

.pagination {
  justify-content: flex-end;

}

/* list and grid button */
.list-grid-btn .btn-primary.active {
  background-color: #5c7484 !important;

}

/* Dashboard CSS */
.dashboard-nav .navbar-brand .nav-link {
  font-size: 30px !important;
}

.menu ul li a {
  margin-right: 50px;
  font-weight: 600;
  color: #333 !important;
}

.menu ul li:last-child a {
  margin-right: 0 !important;
}

.menu ul li a:hover {
  color: #5cc5e3 !important;
}

.dashboard-nav .btn {
  padding: 6px 10px;
  border: 1px solid #5cc5e3;
}

.nav-btn .btn:hover {
  background-color: #5cc5e3;
  color: #fff;
}

.reg-btn a {
  padding: 4px 5px !important;
  border: 1px solid #5cc5e3 !important;
  border-radius: 4px !important;
}

.reg-btn a:hover {
  background-color: #5cc5e3;
  color: #fff !important;
}

/* left-menu bar */
.mm-active .active {
  color: #5cc5e3 !important;
}

.mm-active .active i {
  color: #5cc5e3 !important;

}

#sidebar-menu ul li a:hover {
  background-color: #eee;
}

/* card circle */
.counter {
  background-color: #f1f5f7;
  padding: 10px 0;
  /* width: 100px;
  height: 100px; */
  border-radius: 50px;
}

.so-far .counter {
  background-color: #f3f3f3;
}

.count-title {
  font-size: 40px;
  font-weight: normal;
  margin-top: 10px;
  margin-bottom: 0;
  text-align: center;
  color: #5cc5e3;
}

.count-text {
  font-size: 13px;
  font-weight: normal;
  margin-top: 10px;
  margin-bottom: 0;
  text-align: center;
}

/* integration css*/
.integration-body .card-body {
  padding: .5rem;

}

.integration-title {
  margin-top: 10px;
}

.integration-title span .ri-add-circle-fill {
  font-size: 30px !important;
  vertical-align: middle !important;
  color: #5c7484;
}


/* or view */
.or-view {
  padding: 30px;
  line-height: 2;
}

.right-element-or-view {
  padding: 5px;
  border: 1px solid #5cc5e3;
  border-radius: 4px;
  font-weight: 900;
  margin-left: 2px;
}

/* column Grid list css */

/* integration-Detail Environment CSS */
.environment-text h6 {
  margin-bottom: 15px;

}

.environment-text h6 span {
  color: rgb(138, 135, 135);
  margin-left: 3px;

}

.env-btn .btn {
  margin-left: 2px;

}

/* Table ROW Link CSS */
.table-row {
  cursor: pointer;
}

/* Documentation CSS */
.doc {
  margin: 20px 0;
}

.border-doc {
  border-bottom: 1px solid #eee;
  margin-bottom: 10px;
}

.doc-img img {
  border: 1px solid #eee;
  margin: 15px;
}

/* ./Documentation CSS */


/* footer css */
.footer {
  background-color: #5c7484;
  color: #fff !important;
}