 /* Extra small devices (portrait phones, less than 576px) */
 @media (max-width: 575.98px) {
  /* ======header CSS====== */

  /* navbar */
  .navbar-light .navbar-toggler {
    margin-left: 5%;
  }

}

/*  Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) {

  /* header */
  .navbar-nav {
    margin-left: 6%;
    padding: 10px;
  }

  .nav-item {
    padding: 5px;
  }


}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) {

  .navbar-nav {
    margin-left: 6%;
    padding: 10px;
  }

  .nav-item {
    padding: 5px;
  }

}

/* // Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) {}

/* // Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {}