/* //Extra Small devices (landscape phones, 576px and up) */

@media (min-width: 310px) and (max-width: 440.98px) {
  .icons {
    margin-left: -25%;
  }

  .owner-detail h5 {
    font-size: 14px;
  }

  .owner-detail p {
    font-size: 12px;
  }

}

/* // Small devices (landscape phones, 576px and up) */

@media (min-width: 576px) and (max-width: 767.98px) {
  .icons {
    margin-left: -13%;
  }
}


/* // Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) {
  .login-main .card {
    padding: 0;
  }

  .forgot-pass {
    max-width: 100% !important;
    flex: 0 0 100%;
    text-align: start !important;
  }

  .forgot-pass a {
    text-align: center;
  }

  .icons {
    margin-left: 56%;
  }

}

/* // Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) {
  .icons {
    margin-left: 57%;
  }

}

/* // Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {}